.container {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}
/* h1 {
  font-size: 30px;
  margin: 20px;
  text-align: center;
} */
.child {
  display: flex;

  justify-content: center;
  align-items: center;

  width: 100%;
}

.child.top-left {
  height: 130px;
}

.child.top-right {
  height: 255px;
  padding: 5px 5px 5px 5px;
  display: inline-block;
}

.child.bottom {
  height: 210px;
  display: inline-block;
  padding: 5px 5px 5px 5px;
}

.btnstartstop {
  background-color: #007bff;
  border: none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 25px;
  margin: 5px;
  padding: 20px;
  width: 130px;
  height: 130px;
  transition: background-color 0.2s ease-in-out;
  position: relative;
}

.btnstartstop:hover {
  transform: scale(1.05);
  transition: all 0.3s ease;
  cursor: pointer;
}

.btnstartstop:hover::before {
  content: "Click to Start/Stop";
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  color: #007bff;
  font-size: 14px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.btnstartstop.listening {
  background-color: #dc3545;
}

.btnstartstop:active {
  background-color: #005cbf;
}

.box {
  /* background-color: #fff;
  border: 2px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px; */
  margin: 10px;
  padding: 20px;

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.box::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 100%;
  height: 100%;
  /* background-image: linear-gradient(
      45deg,
      #f8f8f8 25%,
      transparent 25%,
      transparent 75%,
      #f8f8f8 75%,
      #f8f8f8
    ),
    linear-gradient(
      45deg,
      #f8f8f8 25%,
      transparent 25%,
      transparent 75%,
      #f8f8f8 75%,
      #f8f8f8
    ); */
  background-position: 0 0, 10px 10px;
  background-size: 20px 20px;
  /* background-color: #f8f8f8; */
  z-index: -1;
}

.transcripted {
  position: absolute;
  margin-top: 10px;
  position: absolute;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: small;
}

.note.current {
  background-color: #fffdf2;
  background-image: linear-gradient(#f6eec7, #fffdf2 70%);
  border: 2px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin: 10px;
  padding: 20px;

  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 155px;
  width: 70%;
  top: 0px;
  overflow: auto;
}

.btnsavenote {
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin-top: 15px;
  padding: 10px;
  width: 70%;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.btnsavenote:disabled {
  background-color: #2e66a1;
  cursor: not-allowed;
}
.boxbottom {
  background-color: #fffdf2;
  background-image: linear-gradient(#b6ae7f, #f6eec7 70%);
  border: 2px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  /* margin: 10px; */
  /* padding: 20px; */

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  /* 
  overflow: auto; */
}
.boxbottom::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      45deg,
      #f8f8f8 25%,
      transparent 25%,
      transparent 75%,
      #f8f8f8 75%,
      #f8f8f8
    ),
    linear-gradient(
      45deg,
      #f8f8f8 25%,
      transparent 25%,
      transparent 75%,
      #f8f8f8 75%,
      #f8f8f8
    );
  background-position: 0 0, 10px 10px;
  background-size: 20px 20px;
  background-color: #f8f8f8;
  z-index: -1;
}

/* .boxbottom::after {
  content: "";
  position: absolute;
  top: 55px;

  width: 100%;
  height: 1px;
  background-color: black;
} */

.notes {
  display: flex;
  position: absolute;
}

.notes.notenote {
  position: absolute;
  height: 30px;
  width: 100%;
}
.notes.note {
  background-image: linear-gradient(#e7dead, #f6eec7 70%);
  margin-top: 35px;
  /* position: absolute; */
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  align-items: center;
  flex-direction: column;
  /* height: 100%; */
  width: 100%;
  position: relative;
  overflow: auto;
}

h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  font-size: 20px;
  font-weight: 500;
}

p {
  flex: 1 0 auto;
}

.undo-redo-buttons {
  position: absolute;
  left: 10%;
  top: 5px;
  /* margin-bottom: 10px; */
  /* margin-top: 5px; */
}
.undo-redo-buttons button {
  margin: 0 5px;
}

.undobutton:hover::before {
  content: "Undo";
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  color: #007bff;
  font-size: 14px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.redobutton:hover::before {
  content: "Redo";
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  color: #007bff;
  font-size: 14px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* .undo-redo-buttons-current {
  position: absolute;
  left: 20px;
  top: 5px;
  margin-bottom: 10px;
}
.undo-redo-buttons-current button {
  margin: 0 2px;
} */

button {
  padding: 10px 20px;

  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  /* background-color: #3e8e41; */
  color: #fff;
  background-image: linear-gradient(to left, #7928ca, #ff0080);
}

.undobutton:disabled {
  cursor: not-allowed;
}

/* .redobutton {
  cursor: not-allowed;
} */
